@font-face{
    font-family: "Novela";
    src: url('fonts/Novela_Regular.otf') format('opentype');
}
*{
    border-style: border-box;
    font-family: "Novela";
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2%;
    padding: 0;
    margin: 1%;
}
#updnLogo{
    width: clamp(10%, 20%, 500px);
    border-radius: 50%;
    margin-bottom: 1%;
}
h1{
  margin-bottom: 1%;
}
label{
font-size: 100%;
}
.error {
    color: red;
  }
  #contactForm{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    padding: 1%;
  }
  input{ 
    border: #000000 solid 2px;
    border-radius: 5px;
    max-width: 30%;
    width: 25%;
  }
  select{
    border: #000000 solid 2px;
    border-radius: 5px;
  }
  #phoneNumberSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1%;
  }
  #comments {
resize: none;
width: 50%;
border: #000000 solid 2px;
    border-radius: 5px;
  }
  #buttonsSection{
    width: 75%;
    align-self: center;
    display: flex;
    flex-direction: row;

  }
  button {
    margin: 1%;
    padding: 1%;
    background-color: white;
    width: clamp(50%, 90%, 100%);
    border: #000000 solid 2px;
    border-radius: 5px;
  }
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }